@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Index
--------------------------------------------------------------*/
.about {

  /* Hero
  ================================================== */
  @include e(hero) {
    color: $wht;
    @include m(colour) {
      @include page-header--color;
    }
    @include m(img) {
      @include page-header--img("bg_boxes_01");
    }
    @include m(txt) {
      @include page-header--txt;
    }
  } // hero

  /* Mission
  ================================================== */
  @include e(mission) {
    @include container;
    position: relative;
    text-align: center;
    span {
      position: relative;
    }
  } // mission

  /* Why Choose Kingsley
  ================================================== */
  @include e(why-us) {
    @include container;
    background: $blu;
    color: $wht;
    text-align: center;
    [class^="letter"] {
      &::before {
        color: rgba($wht, .1);
      }
    }
    .row {
      @include grid(3, 5rem);
      max-width: 1200px;
      .col-3 {
        min-width: 300px;
      }
    }

    [class^="icon"] {
      display: inline-block;
      font-size: 3em;
      margin: 0 0 .5em;
    }
  } // why us

  /* Contact
  ================================================== */
  @include e(contact) {
    @include container($padding: 3rem 0 6rem);
    @include parallax;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba($blk, .7)), to(rgba($blk, .7))), url("https://res.cloudinary.com/kingsley/image/upload/q_auto,f_auto/bg/bg_desk_01.jpg");
    background-image: linear-gradient(rgba($blk, .7), rgba($blk, .7)), url("https://res.cloudinary.com/kingsley/image/upload/q_auto,f_auto/bg/bg_desk_01.jpg");
    color: $wht;
    text-align: center;

    @include m(txt) {
      margin: 0 auto 2.5rem;
    }

    [class^="letter"] {
      &::before {
        color: rgba($wht, .1);
      }
    }
  } // contact

} // about
