@import "../base/colours";
@import "variables";
@import "placeholders";

/* BEM
================================================== */
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/* Vertical Align
================================================== */
@mixin vertical-align($justify) {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: $justify;
  -moz-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
}

/* Parallax
================================================== */
@mixin parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: fixed; /*scroll on mobile*/
  // width: 100%;
}

/* Pseudo
================================================== */
@mixin pseudo($content: "", $display: block) {
  content: $content;
  display: $display;
}

/* Pages Headers
================================================== */
@mixin page-header--color {
  background: $color-ylw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
}
@mixin page-header--img($bg: "") {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba($color-blk, .6)), to(rgba($color-blk, .6))), url("//res.cloudinary.com/kingsley/image/upload/q_auto/w_auto/dpr_auto/bg/#{$bg}.jpg") center center / cover no-repeat scroll padding-box border-box;
  background: linear-gradient(rgba($color-blk, .6), rgba($color-blk, .6)), url("//res.cloudinary.com/kingsley/image/upload/q_auto/w_auto/dpr_auto/bg/#{$bg}.jpg") center center / cover no-repeat scroll padding-box border-box;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw)); // was  6vw
  height: 500px;
  min-height: 350px;
  position: relative;
  @media only screen and (max-width: 599px) {
    @include vertical-align($justify: flex-start);
    padding: 0 !important;
    text-align: left !important;
  }
}
@mixin page-header--txt {
  bottom: 7rem;
  margin: 0 0 0 10vw;
  position: absolute;
  width: 600px;

  h1 {
    display: inline-block;
    &::after {
      @include pseudo;
      border-bottom: 3px solid $color-ylw;
      margin: .5rem auto;
    }
  }
  h4 {
    text-transform: none;
  }
  @media only screen and (max-width: 599px) {
    bottom: 0;
    margin: $idontknow 0 0 0;
    padding: 0 1rem;
    position: relative;
    width: auto;
    h1 {
      font-size: 25px;
    }
  }
}

/* Error Pages
================================================== */
@mixin error($class) {
  .error-#{$class} {
    background: url("https://res.cloudinary.com/kingsley/image/upload/bg/bg_boxes_01.jpg") center center / cover no-repeat scroll padding-box border-box;
    color: $color-wht;
    height: 100vh;
    text-align: right;
    @content;

    @include e(overlay) {
      @include vertical-align($justify:flex-end);
      background: rgba($color-blu, .75);
      -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 60% 100%);
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 55% 100%);
      height: 100vh;

      @include m(inner) {
        padding: 5rem;

        h1 {
          font: 700 66px "PT Sans", sans-serif;
          padding: 1.5rem 0;
          span {
            color: $color-ylw;
          }
        }

        p {
          font: 400 18px 'Lato', sans-serif;
          max-width: 650px;
        }
      }
    }

    @include e(logo) {
      max-width: 400px;
    }
  }
}
