@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Sans:400,700|Roboto+Condensed:700');
// @import "../base/fonts";

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
%h1 {
  font-size: 2em; // 32px
}
%h2 {
  font-size: 1.5em; // 24px
}
%h3 {
  font-size: 1.17em; // 18.7167px
}
%h4 {
  font-size: 1em; // 16px
}
%h5 {
  font-size: .83em; // 13.2833px
}
%h6 {
  font-size: .75em; // 12px
}
