@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/

footer {
  @include container;
  background: $gry;
  border-top: 6px solid $ylw;
  font-size: 14px;
  padding: 0;
  .row {
    @include grid(2, .5rem);
    .col-2 {
      margin: 2rem 0;
    }
  }
  .col-2:first-child {
    color: $wht;
    text-align: left;
  }
  .col-2:last-child {
    color: $ylw;
    text-align: right;
    span {
      color: $wht;
      padding: 0 1em;
    }
  }
}
