@import "../base/colours";
@import "../utils/variables";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Navigation
--------------------------------------------------------------*/
.nav {
  background: $blu;
  -webkit-box-shadow: 0 0 18px 4px rgba($blk, .25);
  box-shadow: 0 0 18px 4px rgba($blk, .25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: $idontknow;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  /* Navigation Bar
  ================================================== */
  @include e(bar) {
    // @include vertical-align($justify:space-between);
    @include vertical-align($justify: flex-end);
    height: inherit;
  }

  /* Logo
  ================================================== */
  @include e(logo) {
    left: 2rem;
    position: absolute;
    picture {
      height: $idontknow;
      max-width: 200px;
      img {
        height: inherit;
        width: auto;
      }
    }
  }

  /* Contact Details
  ================================================== */
  @include e(links) {
    color: $wht;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    @include m(contact) {
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      a {
        @include vertical-align($justify:center);
        color: $wht;
        margin: 0 1rem;
        &:hover {
          color: $ylw;
        }
      }

      .navinfo {
        display: inline;
        height: auto;
        opacity: 1;
        overflow: visible;
        -webkit-transition: all .3s ease .15s;
        transition: all .3s ease .15s;
        width: auto;
      }

      svg {
        color: $wht;
        fill: currentColor;
        margin: 0 .75rem 0 0;
        width: 22px;
      }
    }
  }


  /* Burger
  ================================================== */
  @include e(burger) {
    cursor: pointer;
    margin: 0 .5rem 0 1.5rem;
    position: relative;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.694, .048, .335, 1);
    transition: -webkit-transform .3s cubic-bezier(.694, .048, .335, 1);
    transition: transform .3s cubic-bezier(.694, .048, .335, 1);
    transition: transform .3s cubic-bezier(.694, .048, .335, 1), -webkit-transform .3s cubic-bezier(.694, .048, .335, 1);
    vertical-align: middle;
    width: $burgerwidth;

    @include m(cross) {
      background: $wht;
      height: 0;
      left: 50%;
      // margin-left: -5px;
      position: absolute;
      top: calc(-#{$burgerwidth / 4});
      -webkit-transition: height .4s cubic-bezier(.694, .048, .335, 1);
      transition: height .4s cubic-bezier(.694, .048, .335, 1);
      width: 2px;
      z-index: 10;
    }

    @include m(label) {
      opacity: .8;
    }

    &.active {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-delay: .4s;
      transition-delay: .4s;
      span {
        &:first-child {
          -webkit-transition: -webkit-transform .2s cubic-bezier(.694, .048, .335, 1);
          transition: -webkit-transform .2s cubic-bezier(.694, .048, .335, 1);
          transition: transform .2s cubic-bezier(.694, .048, .335, 1);
          transition: transform .2s cubic-bezier(.694, .048, .335, 1), -webkit-transform .2s cubic-bezier(.694, .048, .335, 1);
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
        }
        &:nth-child(3) {
          -webkit-transition: width .2s cubic-bezier(.694, .048, .335, 1);
          transition: width .2s cubic-bezier(.694, .048, .335, 1);
          width: 0;
        }
      }
      div {
        height: $burgerwidth;
        -webkit-transition: height .2s cubic-bezier(.694, .048, .335, 1);
        transition: height .2s cubic-bezier(.694, .048, .335, 1);
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
      }
    }

    span {
      background: $wht;
      display: block;
      height: 2px;
      margin-top: 10px;
      width: 100%;

      &:first-child {
        margin-top: 0;
        -webkit-transition: -webkit-transform .2s cubic-bezier(.694, .048, .335, 1);
        transition: -webkit-transform .2s cubic-bezier(.694, .048, .335, 1);
        transition: transform .2s cubic-bezier(.694, .048, .335, 1);
        transition: transform .2s cubic-bezier(.694, .048, .335, 1), -webkit-transform .2s cubic-bezier(.694, .048, .335, 1);
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
      &:nth-child(3) {
        float: right;
        -webkit-transition: width .2s cubic-bezier(.694, .048, .335, 1);
        transition: width .2s cubic-bezier(.694, .048, .335, 1);
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
        width: 65%;
      }
    }
  } // burger


  /* Menu (list of links)
  ================================================== */
  @include e(menu) {
    @include vertical-align($justify: center);
    background: $blu;
    -webkit-box-shadow: 0 0 18px 4px rgba($blk, .25);
    box-shadow: 0 0 18px 4px rgba($blk, .25);
    color: $wht;
    height: 100vh;
    margin: 0;
    // padding: 4.5rem;
    position: fixed;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    -webkit-transform: translate(800px, 0);
    transform: translate(800px, 0);
    -webkit-transition: all .6s cubic-bezier(.23, 1, .32, 1) .4s;
    transition: all .6s cubic-bezier(.23, 1, .32, 1) .4s;
    width: 700px;
    z-index: 5;

    @include m(links) {
      @include vertical-align($justify: center);
      background: $blu-mid;
      height: calc(100% - #{$idontknow}*2);
      width: calc(100% - #{$idontknow}*2);

      ul {
        margin: 0;
        padding: 0;

        li {
          color: $wht;
          cursor: pointer;
          list-style-type: none;

          &::before, &::after {
            @include pseudo;
            border-top: 1px solid transparent;
            margin: 2rem auto;
            opacity: 0;
            -webkit-transition: all .4s cubic-bezier(.23, 1, .32, 1);
            transition: all .4s cubic-bezier(.23, 1, .32, 1);
            width: 0;
          }
          &:hover {
            color: $ylw;
            font-weight: 700;
            &::before, &::after {
              @include pseudo;
              border-top: 1px solid $wht;
              opacity: 1;
              width: 200px;
            }
          }
        } // nav menu li
      } // nav menu ul
    } // links

    @include m(footer) {
      @include grid(2);
      @include vertical-align($justify: space-between);
      background: $blu;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      bottom: 0;
      font-size: 12px;
      height: $idontknow;
      padding: 0 $idontknow;
      position: absolute;
      -webkit-transition: all card accordion-toggle4s cubic-bezier(.215, .61, .355, 1);
      -webkit-transition: all .4s cubic-bezier(.215, .61, .355, 1);
      transition: all .4s cubic-bezier(.215, .61, .355, 1);
      width: 100%;

      @include m(social) {
        overflow: visible;
        text-align: left;
        span {
          color: $wht;
          font-size: 20px;
          margin: 0 .5rem;
          -webkit-transition: .3s ease;
          transition: .3s ease;
          &:hover {
            color: $ylw;
          }
        }
      }
      @include m(legal) {
        overflow: visible;
        text-align: right;
        span {
          color: $wht;
          // margin: 0 .5rem;
          -webkit-transition: .3s;
          -webkit-transition: .3s ease;
          transition: .3s ease;
        }
      }
      // div {
      //   display: inline-block;
      // }
    } // footer

    &.active {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

  } // nav menu

} // nav


/*--------------------------------------------------------------
  WP Admin Overlap
--------------------------------------------------------------*/
/* Menu (list of links)
================================================== */
.admin-bar {
  nav {
    top: 32px;
  }
}
@media only screen and (max-width: 782px) {
  .admin-bar {
    nav {
      top: 46px;
    }
  }
}
// 599px admin bar hides on scoll
@media only screen  and (max-width: 599px) {
  .admin-bar {
    nav {
      top: 0;
    }
  }
}


/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/

/* min 700 - max 794
================================================== */
@media only screen and (min-width: 700px) and (max-width: 794px) {
  .nav {
    @include e(logo) {
      z-index: 99;
    }
  }
}

/* min 280 - max 699
================================================== */
@media only screen and (min-width: 280px) and (max-width: 699px) {
  .nav {
    padding: 0 1rem;
    @include e(logo) {
      left: 1rem;
      z-index: 99;
    }
    @include e(links) {
      position: relative;
      width: 100%;
      @include m(contact) {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        > div {
          &:first-child, &:nth-child(2) {
            font-size: 25px;
            margin: 0 .5rem;
          }
        }
        .navinfo {
          display: -webkit-inline-box;
          display: -moz-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          height: 0;
          opacity: 0;
          width: 0;
        }
      }
    }
    @include e(burger) {
      margin: 0 0 0 auto;
      @include m(label) {
        opacity: 0;
        width: 0;
      }
    }
    @include e(menu) {
      width: 100vw;
      @include m(links) {
        width: calc(100% - 20%);
        ul {
          li {
            &::before, &::after {
              margin: .75rem 0;
            }
          }
        }
      }
      @include m(footer) {
        @include grid(1);
        padding: 0;

        @include m(social) {
          @include grid(2);
          text-align: center;

          span {
            margin: 0;
          }
        }
        @include m(legal) {
          @include grid(2);
          display: -webkit-inline-box;
          display: -moz-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          text-align: center;
          span {
            margin: 0;
          }
        }
      }
    }
  }
}
