@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Newsletter
--------------------------------------------------------------*/
input {
  -webkit-appearance: none;
}
.newsletter {
  @include container;
  text-align: center;

  @include e(input) {
    border: 0;
    margin: 2rem auto 0;
    max-width: 400px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 100%;

    &:focus ~ .newsletter__border {
      background-position: left bottom;
      height: 2px;
      -webkit-transition: .4s;
      transition: .4s;
      width: 100%;
    }
  }

  @include e(border) {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, $blu), color-stop(50%, rgba($gry-lht, .5))) right bottom / 200% 100%;
    background: linear-gradient(to right, $blu 50%, rgba($gry-lht, .5) 50%) right bottom / 200% 100%;
    display: block;
    height: 2px;
    margin: 1rem auto 2rem;
    max-width: 400px;
    -webkit-transition: .4s;
    transition: .4s;
    width: 100%;

  }

  @include e(btn) {
    @extend %btn;
    background: $blu;
    border: unset;
    cursor: pointer;
    margin: 0 auto 2rem;
  }

  .btn-sub {
    @extend %btn;
    background: $blu;
    margin: 2rem auto;
  }
}
