@import "../base/colours";
@import "../utils/placeholders";
@import "../utils/mixins";
@import "../layout/grid";


/* Ranges
================================================== */

%range__hero, %range__product {
  @include parallax;
  @include vertical-align($justify:center);
}
%range__hero {
  height: 550px;
}
%range__product {
  height: 250px;
}
%range__image {
  img {
    width: 100%;
  }
}
