/* Colours
================================================== */

$color-blk: #000;
$color-wht: #fff;
$color-blu:	#11749c;
$color-bludrk: #0d5673;
$color-ylw: #f7b816; //#f8b914
$color-gry: #212121;
$color-gry666: #666;
$color-grylht: #a1a1a1;

/* --------------- TTCombat --------------- */
$rs-blu: #2c4d78; // RUMBLESLAM
$carne-red: #b41311; // Carnevale
$dzc-flat: #617a25; // Dropzone
$dzc-grn: #354508;
$dzc-drkgrn: #1e2705;
$dzc-lhtgrn: #aeb59c;
$dfc-gry: #aab3c1; // Dropfleet
$dfc-drkgry: #282d36;

/* --------------- GCT --------------- */
$rotkage: #4c6757;

/* --------------- Kromlech --------------- */
$kromlech: #a0a948;

/* --------------- MicroArt --------------- */
$microart: #cc0001;
$wolsung: #ecce67;

/* --------------- Corvus Belli --------------- */
$infinity: #f39619;
$infin-gry: #333;
$aristeia: #e30413;

/* --------------- The Army Painter --------------- */
$armypaint: #a50708;

/* --------------- Dragon Shield --------------- */
$dragon-ppl: #1b161e;
$dragon-ylw: #ffd800;
