@import "../utils/mixins";
@import "../base/colours";
@import "../layout/grid";

/* Reset
========================================================================== */

%body {
  color: lighten($color-gry, 20%);
  font: 300 16px 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
html, body {
  @extend %body;
}

a {
  color: $color-ylw;
  text-decoration: none;
}

.head {
  @include vertical-align($justify:center);
  position: relative;
  text-align: center;
  z-index: 1;
  &::before {
    font: 700 180px "Roboto Condensed", sans-serif;
  }
  h2 {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}
