@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Newsletter
--------------------------------------------------------------*/
.newsletter {
  @include container;
  text-align: center;

  // .head::before {
  //   color: rgba($color-blk, .1);
  //   content: "N";
  // }

  .btn-sub {
    @extend %btn;
    background: $color-blu;
    margin: 2rem auto;
  }
}
