@import "../../base/colours";
@import "../../utils/placeholders";
@import "../../utils/mixins";
@import "../../layout/grid";


/*--------------------------------------------------------------
  Offline
--------------------------------------------------------------*/
.error-offline {
  background: url("https://res.cloudinary.com/kingsley/image/upload/bg/bg_boxes_01.jpg") center center / cover no-repeat scroll padding-box border-box;
  color: $wht;
  height: 100vh;
  text-align: right;

  @include e(overlay) {
    @include vertical-align($justify:flex-end);
    background: rgba($blu, .75);
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 60% 100%);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 55% 100%);
    height: 100vh;

    @include m(inner) {
      padding: 5rem;

      h1 {
        font: 700 66px "PT Sans", sans-serif;
        padding: 1.5rem 0;
        span {
          color: $ylw;
        }
      }
      p {
        font: 400 18px 'Lato', sans-serif;
        max-width: 650px;
      }

      h2 {
        a {
          font-weight: 900;
        }
        span {
          margin-left: .5rem;
        }
      }
    }
  }

  @include e(logo) {
    max-width: 400px;
  }
}
