/* Vertical Align
================================================== */
%vertical-align {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Parallax
================================================== */
%parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: fixed; /*scroll on mobile*/
  // width: 100%;
}

/* Background Letter
================================================== */
// %letter {
//   @extend %vertical-align;
//   text-align: center;
//   z-index: 1;
//   &::before {
//     font: 700 180px "Roboto Condensed", sans-serif;
//   }
//   h2 {
//     left: 0;
//     margin: 0 auto;
//     position: absolute;
//     right: 0;
//     z-index: 2;
//   }
// }
// .heading {
//   &.letter-t {
//     @extend %letter;
//     &::before {
//       color: rgba($color-blk, .1);
//       content: "T";
//     }
//   }
// }
