@import "../base/colours";
@import "../utils/placeholders";
@import "../utils/mixins";
@import "../layout/grid";


/*--------------------------------------------------------------
  Bushido
--------------------------------------------------------------*/
.aristeia {

  /* Hero
  ================================================== */
  @include e(hero) {
    @include m(colour) {
      background: $color-blk;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
    }
    @include m(img) {
      @extend %range__hero;
      background: url("https://res.cloudinary.com/kingsley/image/upload/ranges/aristeia/aristeia_bg_02.svg")  center center / cover no-repeat scroll padding-box border-box, url("https://res.cloudinary.com/kingsley/image/upload/ranges/aristeia/aristeia_bg_01.jpg") center center / auto auto repeat scroll padding-box border-box $color-wht;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw)); // was  6vw
    }
    @include m(logo) {
      max-width: 400px;
    }
  } // hero

  /* Introduction
  ================================================== */
  @include e(intro) {
    @include container;

    @include m(img) {
      background: url("https://res.cloudinary.com/kingsley/image/upload/ranges/aristeia/aristeia_bg_02.svg")  center center / cover no-repeat scroll padding-box border-box, url("https://res.cloudinary.com/kingsley/image/upload/ranges/aristeia/aristeia_bg_01.jpg") center center / auto auto repeat scroll padding-box border-box $color-wht;
      height: 365px;
      margin: 100px 0;
      text-align: center;
    }
    @include m(characters) {
      max-width: 1000px;
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
    }
  }

  /* About
  ================================================== */
  @include e(about) {
    @include container($padding: 0 3rem, $width:1200px);
    @include m(container) {
      @include grid(2);
    }
    @include m(img) {
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
    @include m(box) {
      width: 100%;
    }
  }

  /* Introduction
  ================================================== */
  @include e(minis) {
    @include container($margin:5rem auto, $width:1300px);

    @include m(container) {
      @include grid(2);
    }

    @include m(art) {
      overflow: visible;
      position: relative;
    }

    @include m(musa) {
      left: 0;
      margin: 0 auto;
      max-width: 320px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
    }

    @include m(img) {
      background: url("https://res.cloudinary.com/kingsley/image/upload/ranges/aristeia/aristeia_bg_02.svg")  center center / cover no-repeat scroll padding-box border-box, url("https://res.cloudinary.com/kingsley/image/upload/ranges/aristeia/aristeia_bg_01.jpg") center center / auto auto repeat scroll padding-box border-box $color-wht;
      height: 365px;
      margin: 150px 0 0;
      text-align: center;
    }
    @include m(set) {
      max-width: 1200px;
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
    }
  } // minis

  /* Artwork
  ================================================== */
  @include e(art) {
    background: url("https://res.cloudinary.com/kingsley/image/upload/q_auto/ranges/aristeia/aristeia_art_01.jpg") center center / cover no-repeat scroll padding-box border-box;
    height: 100vh;
    max-height: 100vw;
  }

} // aristeia
