/* Colours
================================================== */
$blk: #000;
$wht: #fff;
$blu:	#11749c; //0199ff  //drk 1b74c1
$blu-lht: #3498db;
$blu-mid: #106385;
$blu-drk: #05222e;
$indigo: #252e39;
$ylw: #f7b816; //#f8b914
$ylw-a: #f7c23b;
$gry: #212121;
$gry-666: #666;
$gry-lht: #a1a1a1;
$gry-lht2: #e6e6e6;

/* --------------- TTCombat Games --------------- */
$ttc-orange: #f18932; // ttcombat
$ttc-city: #31b7bc; // city streets
$ttc-eastern: #dd6ca6; // eastern empires
$ttc-fantasy: #f18932; // fantasy realms
$ttc-gaming: #000; // gaming accessories
$ttc-hive: #b8ab17; // industrial hive
$ttc-landscape: #65b32e; // landscaping accessories
$ttc-gothic: #a8a198; // sci-fi gothic
$ttc-utopia: #59358c; // sci-fi utopia
$ttc-scifix: #164194; // sci-fi x
$ttc-venice: #a81815; // streets of venice
$ttc-wildwest: #813711; // wild west
$ttc-war: #3d5a24; // world war

/* --------------- TTCombat Games --------------- */
$rs-blu: #2c4d78; // rumbleslam
$carne-red: #b41311; // carnevale
$dzc-flat: #617a25; // dropzone
$dzc-grn: #354508;
$dzc-drkgrn: #1e2705;
$dzc-lhtgrn: #aeb59c;
$dfc-gry: #aab3c1; // dropfleet
$dfc-drkgry: #282d36;

/* --------------- GCT --------------- */
$rotkage: #4c6757;

/* --------------- Kromlech --------------- */
$kromlech: #a0a948;

/* --------------- MicroArt --------------- */
$microart: #cc0001;
$wolsung: #ecce67;

/* --------------- Corvus Belli --------------- */
$infinity: #f39619;
$infin-gry: #333;
$aristeia: #e30413;

/* --------------- The Army Painter --------------- */
$armypaint: #a50708;

/* --------------- Dragon Shield --------------- */
$dragon-ppl: #1b161e;
$dragon-ylw: #ffd800;
