@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/
// material.io/devices/
$smartphone: "only screen and (max-width: 599px)";
$tablet: "only screen and (min-width: 600px) and (max-width: 1279px)";
$desktop: "only screen and (min-width: 1280px)";

/*--------------------------------------------------------------
  Tablet
--------------------------------------------------------------*/
@media #{$tablet} {
  [class^="dragon"] {
    padding: 1rem;
  }
  [class^="dragon__hero"] {
    padding: 0;
  }

  /* Error Pages
  ================================================== */
  @each $error in fof, offline {
    .error-#{$error}__overlay--inner {
      padding: 3rem;
      h1 {
        font: 700 55px 'Lato', sans-serif;
      }
      p {
        display: inline-block;
        font: 400 16px 'Lato', sans-serif;
        max-width: 350px;
      }
    }
    .error-#{$error}__logo {
      max-width: 300px;
    }
    .error-#{$error}__buttons {
      a {
        display: block;
        margin: 1.5rem auto;
        max-width: 200px;
      }
    }
  }

} // tablet


/*--------------------------------------------------------------
  CSS for iOS
--------------------------------------------------------------*/
@supports (-webkit-overflow-scrolling: touch) {
  /* ---------- ranges template ---------- */
  [class*="__hero--img"],
  /* ---------- home ---------- */
  .home__hero,
  .home__faq,
  .home__contact,
  /* ---------- ttcombat ---------- */
  div[class^="ttcombat"][class$="head-bg"],
  /* ---------- rumbleslam ---------- */
  .rumbleslam__about,
  /* ---------- carnevale ---------- */
  .carnevale__intro,
  .carnevale__about--img,
  .carnevale__minis--img,
  .carnevale__art--patrice,
  /* ---------- dropfleet ---------- */
  .dropfleet__minis--cont,
  .dropfleet__art--box,
  /* ---------- dropzone ---------- */
  .dropzone__intro,
  /* ---------- bushido ---------- */
  .bushido__art--monk,
  /* ---------- rot kage ---------- */
  .kage__about--img,
  /* ---------- infinity ---------- */
  .infinity__art,
  /* ---------- infinity ---------- */
  .dragon__art--tanur,
  /* ---------- wolsung ---------- */
  .wolsung__art {
    background-attachment: local;
  }
} // ios

/*--------------------------------------------------------------
  Smartphone
--------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1177px) {
  .rumbleslam__intro {
    margin: 0;
    position: relative;
  }
  .rumbleslam__intro--txt {
    margin: 0;
  }
}
@media #{$smartphone} {

  /* Buttons
  ================================================== */
  .to-top {
    font-size: 20px;
    height: 45px;
    margin: 0 1rem 1rem;
    width: 45px;
  }

  /* Navigation
  ================================================== */
  .nav__cont {
    &.active {
      background: rgba($color-gry, .7);
    }
  }
  .nav__desktop {
    display: none;
  }
  .nav__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
  }
  .nav__burger {
    margin: 0 0 0 auto;
  }
  .logo {
    margin: 0 auto 0 0;
    max-width: 200px;
    position: relative;
    top: 0;
  }

  /* Ranges Template
  ================================================== */
  [class*="__hero--colour"] {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  [class*="__hero--img"] {
    // background-attachment: scroll;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
    height: auto;
    padding: 0 0 20vw;
    text-align: center;
  }
  [class*="__hero--logo"] {
    display: block;
    margin: 120px 0 0;
    width: 100%;
  }

  [class$="__intro"] {
    height: 100%;
    margin: -1px auto;
  }
  [class$="__intro--txt"] {
    left: 0;
    top: 0;
  }


  /* Newsletter
  ================================================== */
  .newsletter {
    padding: 0 1rem;
  }

  /* Footer
  ================================================== */
  footer {
    .row {
      @include grid(1);
      .col-2 {
        margin: 1rem auto 0;
        text-align: center;
        a {
          display: block;
          margin: 0 auto 1rem;
        }
        span {
          display: none;
        }
      }
    }
  }

  /* Error Pages
  ================================================== */
  @each $error in fof, offline {
    .error-#{$error} {
      height: 100vh;
      text-align: left;

      &__overlay {
        -webkit-clip-path: unset;
        clip-path: unset;
        display: block;
        height: 100vh;

        &--inner {
          padding: .5rem;
          text-align: center;
          h1 {
            font: 700 50px 'PT sans', sans-serif;
            padding: 1rem 0;
          }
          p {
            font: 400 16px 'Lato', sans-serif;
            margin: 0 0 1.5rem;
          }
        }
      }
      &__logo {
        max-width: 220px;
      }
      &__buttons {
        a {
          font: 700 14px 'Lato', sans-serif;
          margin: 1rem;
          padding: 1rem;
        }
      }
    }
  }


  /* Index
  ================================================== */
  .home {
    /* --------------- Hero --------------- */
    @include e(hero) {
      // background-attachment: scroll;
      height: 100%;
      @include m(cont) {
        margin: 100px 0 0;
      }
      .btn__blu, .btn__wht {
        margin: 0 auto 2em;
      }
    }
    /* --------------- Hero --------------- */
    @include e(why-us) {
      .row {
        @include grid(1, 2rem);
      }
    }
    /* --------------- Products --------------- */
    @include e(ranges) {
      .row {
        @include grid(3);
      }
    }
    /* --------------- FAQ --------------- */
    @include e(faq) {
      // background-attachment: scroll;
    }
    @include e(acc) {
      @include m(card) {
        margin: 2rem auto;
      }
    }
    /* --------------- Contact Form (open an account) --------------- */
    @include e(open-account) {
      form {
        .col-2 {
          @include grid(1, 2rem);
        }
      }
    }
    /* --------------- Contact --------------- */
    @include e(contact) {
      // background-attachment: scroll;
      @include m(info) {
        padding: 0;
        div {
          margin: 1rem auto;
        }
        .icon {
          display: block;
          &::before {
            margin: 0 auto 1rem;
          }
        }
      }
    }
  } // home

  /* About
  ================================================== */
  .about {
    @include e(hero) {
      @include m(img) {
        padding: 0;
      }
      @include m(txt) {
        bottom: 0;
        margin: 0 auto;
        padding: 1rem;
        position: relative;
        text-align: left;
        top: 80px;
        width: auto;
        h1 {
          font-size: 25px;
        }
      }
    }
    @include e(why-us) {
      .row {
        @include grid(1, 2rem);
      }
    }
  }

  /* Range: TTCombat
  ================================================== */
  // div[class^="ttcombat"][class$="head-bg"] {
  //   background-attachment: scroll;
  // }
  img[class^="ttcombat"][class*="head-img"] {
    margin: 2rem auto;
    max-width: 100px;
  }
  div[class^="ttcombat"][class*="txt"] {
    padding: 2rem 1rem 0;
  }
  .ttcombat {
    @include e(city) {
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
  @each $range in city, eastern, fantasy, gaming, industrial, landscape, gothic, utopia, scifi-x, venice, wild-west, war {
    .ttcombat__#{$range}--container {
      @include grid(1);
    }
  }

  /* Range: RUMBLESLAM
  ================================================== */
  .rumbleslam {
    @include e(intro) {
      @include grid(1);
    }
  }
  .rumbleslam__about {
    padding: 0;
  }
  /* Range: Carnevale
  ================================================== */
  .carnevale__about--img, .carnevale__minis--img {
    height: auto;
    margin: 0;
    padding: 0;
  }
  .carnevale__about--starter, .carnevale__minis--pat {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .carnevale {
    @include e(hero) {
      @include m(logo) {
        max-width: 250px;
      }
    }
    @include e(intro) {
      // background-attachment: scroll;
    }
    @include e(scenery) {
      @include grid(1);
      @include m(link) {
        margin: 1rem 0;
        text-align: left;
      }
      @include m(img) {
        padding: 0;
      }
      @include m(building) {
        width: 100%;
      }
    }
  }
  .carnevale__art--atnight {
    height: 80vw;
  }
  /* Range: Dropfleet
  ================================================== */
  .dropfleet {
    @include e(about) {
      @include m(container) {
        @include grid(1);
      }
    }
    @include e(minis) {
      @include m(cont) {
        // background-attachment: scroll;
        height: auto;
        margin: 0 auto;
        padding: 0;
      }
      @include m(img) {
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
    @include e(art) {
      @include m(box) {
        // background-attachment: scroll;
      }
    }
  }
  /* Range: Dropzone
  ================================================== */
  .dropzone {
    @include e(intro) {
      // background-attachment: scroll;
      padding: 0;
    }
    @include e(minis) {
      @include grid(1);
      @include m(img) {
        margin: 0;
        width: 100%;
      }
      picture {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin: 0;
      }
    }
    @include e(scen) {
      @include m(txt) {
        margin: 0;
        padding: 1rem;
      }
    }
  }
  /* Range: Bushido
  ================================================== */
  .bushido {
    @include e(hero) {
      @include m(logo) {
        max-width: 250px;
      }
    }
    @include e(intro) {
      @include m(container) {
        @include grid(1);
      }
      @include m(img) {
        picture {
          position: relative;
          top: 0;
        }
      }
    } // intro
    @include e(about) {
      @include m(container) {
        @include grid(1);
      }
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
  }
  /* Range: Rise of the Kage
  ================================================== */
  .kage {
    @include e(intro) {
      @include m(container) {
        @include grid(1);
      }
      @include m(txt) {
        padding: 0;
      }
      @include m(img) {
        img {
          position: relative;
          top: 0;
        }
      }
    }
    @include e(about) {
      @include m(img) {
        // background-attachment: scroll;
        height: auto;
        margin: 0;
      }
      @include m(starter) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
    @include e(art) {
      @include m(monk) {
        // background-attachment: scroll;
      }
    }
  }
  /* Range: Infinity
  ================================================== */
  .infinity {
    @include e(hero) {
      @include m(logo) {
        max-width: 250px;
      }
    }
    @include e(intro) {
      @include grid(1);
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        img {
          bottom: 0;
          position: relative;
        }
      }
    }
    @include e(about) {
      background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba($color-wht, .85)), color-stop(100%, rgba($color-wht, .85)), to(rgba($color-wht, 1))), url("../img/ranges/infinity/infinity_art_01.jpg") center center / cover no-repeat scroll padding-box border-box $color-wht;
      background: linear-gradient(to right, rgba($color-wht, .85) 100%, rgba($color-wht, .85) 100%, rgba($color-wht, 1) 100%), url("../img/ranges/infinity/infinity_art_01.jpg") center center / cover no-repeat scroll padding-box border-box $color-wht;
      @include m(txt) {
        width: 100%;
      }
    }
    @include e(minis) {
      @include m(img) {
        @include grid(1);
      }
    }
    @include e(art) {
      // background-attachment: scroll;
    }
  }

  /* Range: Aristeia
  ================================================== */
  .aristeia {
    @include e(intro) {
      @include m(img) {
        height: auto;
        margin: 0 auto;
      }
      @include m(characters) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
    @include e(about) {
      @include m(container) {
        @include grid(1);
      }
    }
    @include e(minis) {
      @include container($margin:0 auto);
      @include m(container) {
        @include grid(1);
      }
      @include m(art) {
        display: none;
      }
      @include m(musa) {
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      @include m(img) {
        height: auto;
        margin: 0 auto;
      }
      @include m(set) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
  }

  /* Range: Dragon Shield
  ================================================== */
  .dragon {
    @include e(classic-hund) {
      @include grid(1);
    }
    @include e(matte-hund) {
      @include grid(1);
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
    @include e(art) {
      @include grid(1);
    }
    @include e(matte-sixty) {
      @include grid(1);
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
    @include e(classic-fifty) {
      @include grid(1);
    }
    @include e(perfect) {
      @include grid(1);
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
    @include e(japan-sixty) {
      @include grid(1);
    }
    @include e(japan-fifty) {
      @include grid(1);
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
  }

  /* Range: Micro Art Studios
  ================================================== */
  .microart {
    @include e(bases) {
      @include m(container) {
        @include grid(1, 0rem);
      }
      @include m(img) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin: 0;
      }
    }
    @include e(discworld) {
      @include m(container) {
        @include grid(1, 0rem);
      }
    }
    @include e(infinity) {
      @include m(img) {
        @include grid(1);
        picture:nth-child(1), picture:nth-child(3) {
          display: none;
        }
      }
    }
    @include e(scen) {
      @include grid(1);
      @include m(txt) {
        padding: 1rem;
      }
    }
    @include e(mats) {
      @include m(img) {
        @include grid(1);
        picture:nth-child(1), picture:nth-child(3) {
          display: none;
        }
      }
    }
    @include e(wwx) {
      @include grid(1, 0rem);
      @include m(txt) {
        padding: 1rem;
      }
    }
    @include e(art) {
      @include grid(1);
      picture:nth-child(1), picture:nth-child(3) {
        display: none;
      }
    }
  }

  /* Range: Wolsung
  ================================================== */
  .wolsung {
    @include e(intro) {
      @include grid(1);
      @include m(txt) {
        padding-top: 0;
      }
      picture {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }
    @include e(about) {
      @include m(img) {
        height: auto;
        margin: 0 auto;
      }
      @include m(starter) {
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
    @include e(minis) {
      @include grid(1);
      @include m(txt) {
        padding: .5rem;
      }
    }
    @include e(scen) {
      @include m(img) {
        picture:nth-child(1) {
          display: none;
        }
        img {
          width: 100%;
        }
      }
    }
    @include e(art) {
      // background-attachment: scroll;
    }
  }

} // smartphone

@media only screen and (max-width: 514px) {
  [class*="letter"] {
    &::before {
      font-size: 35vw; // max-width: 514 (179.9px)
    }
  }
}
} // why this curly bracket???
