@import "../utils/mixins";
@import "../base/colours";
@import "../layout/grid";

/* Reset
========================================================================== */

%body {
  color: lighten($gry, 20%);
  font: 300 16px 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
html, body {
  @extend %body;
}
a {
  color: $ylw;
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
img {
  width: 100%;
}
