@import "../../base/colours";
@import "../../utils/placeholders";
@import "../../utils/mixins";
@import "../../layout/grid";


/*--------------------------------------------------------------
  Carnevale
--------------------------------------------------------------*/
.dropzone {

  /* Hero
  ================================================== */
  @include e(hero) {
    @include m(colour) {
      background: $dzc-grn;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
    }
    @include m(img) {
      @extend %range__hero;
      background: url("https://res.cloudinary.com/kingsley/image/upload/ranges/dropzone/dzc_bg_01.jpg") center center / auto auto repeat fixed padding-box border-box $wht;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
    }
    @include m(logo) {
      max-width: 650px;
    }
  } // hero

  /* Introduction
  ================================================== */
  @include e(intro) {
    @include container($margin:0, $width:750px);
    @include vertical-align($justify:center);
    background: url("https://res.cloudinary.com/kingsley/image/upload/ranges/dropzone/dzc_gather-strength_01.jpg") center center / cover no-repeat fixed padding-box border-box;
    color: $wht;
    height: 100vh;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: -40px 0 0;

    @include m(txt) {
      background: rgba($blk, .65);
      padding: 2.5rem;
    }

    [class^="letter"] {
      &::before {
        color: rgba($wht, .15);
      }
    }
  } // intro

  /* About
  ================================================== */
  @include e(about) {
    // @include grid(2);
    @include m(txt) {
      @include container;
    }
    @include m(gameboard) {
      display: block;
      width: 100%;
    }
  }

  /* Miniatures
  ================================================== */
  @include e(minis) {
    @include grid(2);

    @include m(txt) {
      @include container;
      text-align: center;
    }
    @include m(img) {
      max-width: 700px;
    }
    picture {
      margin: -7rem 0 0;
      overflow: visible;
    }
  }

  /* Scenery
  ================================================== */
  @include e(scen) {
    @include vertical-align($justify:flex-start);
    background: url("https://res.cloudinary.com/kingsley/image/upload/ranges/dropzone/dzc_scen_01.jpg") center center / cover no-repeat scroll padding-box border-box;
    height: 90vh;
    @include m(txt) {
      background: $gry;
      color: $gry-lht2;
      margin: 5rem;
      padding: 3rem;
      width: 500px;
    }
  }

  /* Art
  ================================================== */


} // dropzone
