@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/* General Enquiries
================================================== */
.general {
  padding: 0 2rem;
  text-align: center;
  span, input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  input[type="submit"] {
    width: auto;
  }
  input, textarea {
    border: 2px solid rgba($gry-lht, .5);
    padding: .7rem;
    -webkit-transition: .3s ease;
    transition: .3s ease;

    &:active, &:focus {
      border-color: rgba($gry-lht, .9);
    }
    &::-webkit-input-placeholder {
      color: rgba($gry-lht, 1);
    }
    &::-moz-placeholder {
      color: rgba($gry-lht, 1);
    }
    &:-ms-input-placeholder {
      color: rgba($gry-lht, 1);
    }
    &::-ms-input-placeholder {
      color: rgba($gry-lht, 1);
    }
    &::placeholder {
      color: rgba($gry-lht, 1);
    }
  }
} // general enquiries


/* Open An Account
================================================== */
.open-account {
  max-width: 700px !important;
  padding: 3rem 0;

  .col-2 {
    @include grid(2, 2rem);
    .open-account__address, .open-account__message {
      width: 100%;
    }
  }
  input, textarea {
    background: transparent;
    border: 1px solid rgba($wht, .5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: $wht;
    padding: .5em 1em;
    width: 100%;
    &::-webkit-input-placeholder {
      color: rgba($wht, .8);
    }
    &::-moz-placeholder {
      color: rgba($wht, .8);
    }
    &:-ms-input-placeholder {
      color: rgba($wht, .8);
    }
    &::-ms-input-placeholder {
      color: rgba($wht, .8);
    }
    &::placeholder {
      color: rgba($wht, .8);
    }
  }
} // open an account
