@import "../base/colours";
@import "../utils/placeholders";
@import "../utils/mixins";
@import "../layout/grid";


/*--------------------------------------------------------------
  The Army Painter
--------------------------------------------------------------*/
.armypaint {

  /* Hero
  ================================================== */
  @include e(hero) {
    @include m(colour) {
      background: $armypaint;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.6vw));
    }
    @include m(img) {
      @extend %range__hero;
      background: url("../img/ranges/armypaint/bg_armypaint_02.jpg");
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
    }
    @include m(logo) {
      max-width: 400px;
    }
  } // hero

  /* About
  ================================================== */
  @include e(about) {
    @include container;
  }

  /* Starter Set
  ================================================== */
  @include e(starter) {
    @include container($padding: 0 3rem, $width:1500px);
    @include m(container) {
      @include grid(2);
    }
  }

  /* Quickshade
  ================================================== */
  @include e(quickshade) {
    @include m(container) {
      @include container;
    }
    @include m(img) {
      @include grid(3);
    }
  }

} // The Army Painter
