@import "../base/colours";
@import "../utils/mixins";
@import "../layout/grid";

/*--------------------------------------------------------------
  Index
--------------------------------------------------------------*/
.faq {

  /* Hero
  ================================================== */
  @include e(hero) {
    color: $wht;
    @include m(colour) {
      @include page-header--color;
    }
    @include m(img) {
      @include page-header--img("bg_boxes_01");
    }
    @include m(txt) {
      @include page-header--txt;
    }
  } // hero


  /* Accordion
  ================================================== */
  @include e(acc) {
    @include container;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    @include m(card) {
      margin: 2em;
      position: relative;
    } // card

    @include m(title) {
      background: $wht;
      border-bottom: 1px solid rgba($gry-lht, .3);
      color: $blu;
      cursor: pointer;
      display: block;
      font-size: 21px;
      font-weight: 400;
      padding: 1em 1.5em;
      position: relative;
      text-align: left;

      &.active {
        color: $ylw;
      }

      &::after {
        @include vertical-align($justify:center);
        color: $gry-666;
        content: "\e908";
        font-family: "icomoon";
        height: 100%;
        position: absolute;
        right: 1rem;
        top: 0;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      &.active::after {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    } // title
    @include m(panel) {
      background: $wht;
      color: $gry;
      display: none;
      margin: 0;
      padding: 1em 2em;
      text-align: left;

      &.active {
        display: block;
      }
    } // panel
  } // accordion


  /* Contact
  ================================================== */
  @include e(contact) {
    @include container($padding: 3rem 0 6rem);
    @include parallax;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba($blk, .7)), to(rgba($blk, .7))), url("https://res.cloudinary.com/kingsley/image/upload/q_auto,f_auto/bg/bg_desk_01.jpg");
    background-image: linear-gradient(rgba($blk, .7), rgba($blk, .7)), url("https://res.cloudinary.com/kingsley/image/upload/q_auto,f_auto/bg/bg_desk_01.jpg");
    color: $wht;
    text-align: center;

    @include m(txt) {
      margin: 0 auto 2.5rem;
    }

    [class^="letter"] {
      &::before {
        color: rgba($wht, .1);
      }
    }
  } // contact

} // about
